.message{
    font-size: 20px;
    border: 2px solid black;
    padding: 16px;
    margin-bottom: 20px;
}


/* Buttons */
.btn-light{
    background-color: green;
    color: white;
    text-align: center;
    cursor: pointer;
}

.btn-light:hover{
    background-color: rgb(8, 77, 8);
    color: white;
    text-align: center;
    cursor: pointer;
}

:active button{
    color: red;
}

/* Boxes */
.orange-box{
    border: 2px solid orange;
    padding: 16px;
}

.green-box{
    border: 2px solid green;
    padding: 16px;
}


/* Theme */
.dark-theme{
    background-color: black;
    color: white;
}

.dark-theme .message{
    background-color: black;
    color: white;
    border: 2px solid gold;
}

.dark-theme .btn-light{
    background-color: white;
    color: black;
}

/* Mous Over */
.switch-button {
    font-size: 20px;
    padding: 10px;
  }
  
.thumbnail-image {
    width: 130px;
    margin-right: 10px;
}
  
.big-image {
    width: 420px;
}
